.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.form {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input{
    border: 2px solid black;
    border-radius: 25px;
}